:host .node-details {
  position: fixed;
  right: 0;
  top: 150px;
  right: 50px;
  width: 300px;
  height: auto;
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.node-details h2 {
  margin-top: 0;
  font-size: 18px;
  color: #3a3a3a;
  font-weight: 400;
}

.node-coordinates {
  display: flex;
  justify-content: space-between;
}

.coordinate-text {
  font-size: 12px;
  color: #6e6e6e;
}